.col-md-12 {
  position: absolute;
  height: 80%;
  width: 84%;
}

.chartDiv {
  position: absolute;
  left : 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}

.leftPanel  {
  position: absolute;
  left : 0;
  top: 0;
  width: 80%;
  height: 100%;
}

.rightPanel  {
  position: absolute;
  left : 80%;
  top: 0;
  width: 20%;
  height: 100%;
  background-color: #2b542c;
}

.saveButton{
  position: absolute;
  left : 10%;
  top: 5%;
  width: 80%;
  height: 10%;
}

.drawChartButton{
  position: absolute;
  left : 10%;
  top: 20%;
  width: 80%;
  height: 10%;
}
